body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f5f0;
  color: #333;
  margin: 0;
  /* padding: 20px; */
}
.maps {
  width: 600;
  height: 450;
  border: 0;
}
.contact-form,
.contact-info {
  max-width: 600px;
  margin: 0 auto 40px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #3e2f23;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #5a4433;
}

.contact-info h2 {
  margin-bottom: 15px;
}
header p {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.cu-img {
  width: 600px;
}

.intro {
  text-align: center;
}

.intro p {
  color: #666;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #3e2f23;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #5a4433;
}
