img {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f5f0;
  color: #333;
  background-size: cover; /* agar gambar memenuhi layar */
  background-position: center; /* posisi gambar di tengah */
  background-repeat: no-repeat; /* agar tidak diulang */
}

.hero {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color:#e9d5ca;
}

.cta-button {
  background-color: #3e2f23;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #5a4433;
}

.intro {
  padding: 50px 20px;
  text-align: center;
}

.intro h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
}

.feature-card {
  background-color: #fff;
  border-left: 4px solid #3e2f23;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.feature-card h3 {
  margin-bottom: 10px;
  color: #3e2f23;
}

.footer {
  background-color: #3e2f23;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  color: aliceblue;
}
