* {
  margin: 0;
  padding: 0;
  box-sizing: border border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.accountimage {
  height: 94px;
  width: 180;
}
.header {
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(rgb(92, 23, 23),rgb(134, 119, 30)); */
  background-color: rgb(92, 53, 21);
  margin: 0px;
  padding: 4px;
  font-size: 16px;
}
.Kingsman {
  float: right;
  margin: 5px -3px;
  padding: 10px;
  font-size: 50px;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 0.5cm;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: rgb(154, 137, 40);
}
.Kingsman:hover {
  color: white;
}
img:hover {
  color: white;
}
.navbar {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
  font-size: 25px;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  padding: 14px 20px;
  color: wheat;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
  color: white;
  border-radius: 15px;
}
