/* register.css */

body {
  font-family: "Poppins", sans-serif;
  background: #f8f5f0;
  margin: 0;
  padding: 0;
}

.signup-container {
  max-height: 70dvh;
  max-width: 400px;
  margin: 60px auto; /* jarak dari atas layar */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-container h1 {
  margin-top: 10px; /* jarak dari atas container */
  margin-bottom: 10px;
  font-weight: 700;
  color: #3e2f23;
}

.signup-container p {
  margin-bottom: 25px;
  color: #666;
}

.signup-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.signup-form label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.signup-form input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.signup-form input:focus {
  border-color: #000;
  outline: none;
  border: 2px solid black;
}

#submit {
  background: #3e2f23;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#submit:hover {
  background: #5a4433;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #000;
  text-decoration: none;
  font-weight: 545;
  text-decoration: none;
}

.btn-show-password {
  text-align: right;
}

label small {
  font-size: 13px;
}
